aiodns
aiohttp
aiosignal
annotated-types
asgiref
attrs
autobahn
Automat
beautifulsoup4
binance
blis
bs4
catalogue
ccxt
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
confection
constantly
contourpy
cryptography
cycler
cymem
dateparser
defusedxml
distlib
Django
django-allauth
django-crispy-forms
django-ratelimit
django-sslserver
dtaidistance
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
Farama-Notifications
fastdtw
filelock
fonttools
frozendict
frozenlist
fsspec
gevent
greenlet
gunicorn
gym-notices
gymnasium
h11
html5lib
hyperlink
idna
incremental
Jinja2
joblib
kiwisolver
langcodes
lxml
MarkupSafe
matplotlib
mpmath
multidict
multitasking
murmurhash
networkx
numpy
oauthlib
outcome
packaging
pandas
peewee
Pillow
platformdirs
playwright
preshed
pyasn1
pyasn1-modules
pybind11
pycares
pycoingecko
pycparser
pycryptodome
pydantic
pydantic_core
pyee
PyJWT
pyOpenSSL
pyparsing
PySocks
pyTelegramBotAPI
pytesseract
python-binance
python-dateutil
python-dotenv
python3-openid
pytz
regex
requests
requests-oauthlib
schedule
scikit-learn
scipy
selenium
service-identity
setuptools
Shimmy
six
smart-open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stable_baselines3
sympy
ta
telebot
termcolor
thinc
threadpoolctl
torch
tqdm
trio
trio-websocket
Twisted
txaio
typer
typing_extensions
tzdata
tzlocal
ujson
urllib3
virtualenv
wasabi
weasel
webencodings
websocket
websocket-client
websockets
wsproto
yarl
yfinance
zope.event
zope.interface
